# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: none
build
.kdev4
Knights.kdev4
*~
/.clang-format
/compile_commands.json
.clangd
.cache
.idea
/cmake-build*
/CMakeLists.txt.user
/build-*/
