[KGameTheme]
Name=Knights
Name[da]=Knights
Name[et]=Knights
Name[nds]=Knights (Schachspeel)
Name[pt]=Knights
Name[pt_BR]=Knights
Name[sv]=Springare
Name[uk]=Knights
Name[x-test]=xxKnightsxx
Name[zh_TW]=Knights
Description=Original Knights theme.
Description[da]=Oprindeligt Knights-tema.
Description[et]=Algne Knightsi teema.
Description[nds]=Knights-Orginaalmuster
Description[pt]=O tema original do Knights.
Description[pt_BR]=Tema original do Knights.
Description[sv]=Ursprungligt springartema.
Description[uk]=Початкова тема Knights.
Description[x-test]=xxOriginal Knights theme.xx
Description[zh_TW]=原始 Knights 主題
VersionFormat=1
Author=Troy Corbin
AuthorEmail=troy@pedanticwebspaces.com
Type=SVG
FileName=knights.svg
Preview=knights.png


