[KGameTheme]
Name=Grayscale
Name[bg]=Сиво
Name[bs]=Crno‑bijela
Name[ca]=Escala de grisos
Name[ca@valencia]=Escala de grisos
Name[cs]=Odstíny šedi
Name[da]=Gråtone
Name[de]=Graustufen
Name[el]=Grayscale
Name[en_GB]=Greyscale
Name[es]=Escala de grises
Name[et]=Halltoonid
Name[fi]=Harmaaskaala
Name[fr]=Échelle de gris
Name[ga]=Liathscála
Name[gl]=Escala de grises
Name[hu]=Szürkeárnyalatok
Name[it]=Gradazioni di grigio
Name[km]=មាត្រដ្ឋាន​ប្រផេះ
Name[ml]=ഗ്രേസ്കേല്‍
Name[ms]=Skala Kelabu
Name[nb]=Gråskala
Name[nds]=Griestöön
Name[nl]=Grijswaarden
Name[nn]=Gråskala
Name[pl]=Odcienie szarości
Name[pt]=Tons de Cinzento
Name[pt_BR]=Tons de cinza
Name[ro]=Nuanțe de gri
Name[ru]=Оттенки серого
Name[sk]=Šedá škála
Name[sl]=Sivine
Name[sr]=Црно‑бела
Name[sr@ijekavian]=Црно‑бијела
Name[sr@ijekavianlatin]=Crno‑bijela
Name[sr@latin]=Crno‑bela
Name[sv]=Gråskala
Name[ug]=كۈلرەڭ
Name[uk]=Тони сірого
Name[x-test]=xxGrayscalexx
Name[zh_CN]=灰度
Name[zh_TW]=灰階
Description=A grayscale theme using the Oxygen palette
Description[bg]=Изглед в сиво с палитра от Oxygen
Description[bs]=Crno‑bijela tema na osnovu Kiseonikove palete
Description[ca]=Un tema en escala de grisos utilitzant la paleta Oxygen
Description[ca@valencia]=Un tema en escala de grisos utilitzant la paleta Oxygen
Description[cs]=Motiv v odstínech šedi, používající paletu Oxygen
Description[da]=Et tema i gråtoner som bruger Oxygen-paletten
Description[de]=Ein Design in Graustufen mittels Oxygen.
Description[el]=ένα θέμα σε κλίμακα γκρίζου με χρήση της παλέτας Oxygen
Description[en_GB]=A greyscale theme using the Oxygen palette
Description[es]=Tema de escala de grises que utiliza la paleta Oxygen
Description[et]=Halltoonides teema Oxygeni värvipaletiga
Description[fi]=Oxygen-palettia käyttävä harmaaskaalateema
Description[fr]=Un thème en échelle de gris utilisant la palette de Oxygen
Description[ga]=Téama liathscála a úsáideann an pailéad Oxygen
Description[gl]=Un tema en escala de grises que emprega a paleta Oxygen
Description[hu]=Az Oxygen-palettát használó szürkeárnyalatos téma
Description[it]=Un tema in gradazioni di grigio che utilizza la tavolozza Oxygen
Description[km]=រូបរាង​មាត្រដ្ឋាន​ប្រផេះ​ដែល​បាន​ប្រើ Oxygen palette
Description[ml]=ഓക്സിജന്‍ വര്‍ണ്ണഫലകം ഉപയോഗിക്കുന്ന ഗ്രേസ്കേല്‍ പ്രമേയം
Description[ms]=Tema skala kelabu menggunakan palet Oxygen
Description[nb]=Et gråskala-tema som bruker Oxygen-paletten
Description[nds]=En Griestöön-Muster, bruukt den Oxygen-Klörensett
Description[nl]=Een thema met grijswaarden gebruikmakend van het Oxygen palet
Description[nn]=Eit gråskalatema som brukar Oxygen-paletten.
Description[pl]=Motyw w odcieniach szarości używający palety Oxygen
Description[pt]=Um tema em tons de cinzento que usa a paleta do Oxygen
Description[pt_BR]=Um tema em tons de cinza que usa a paleta do Oxygen
Description[ro]=Temă în nuanțe de gri utilizînd paleta Oxygen
Description[ru]=Оформление, использующее серые оттенки палитры Oxygen
Description[sl]=Sivinska tema, ki uporablja barvni nabor Oxygen
Description[sr]=Црно‑бела тема на основу Кисеоникове палете
Description[sr@ijekavian]=Црно‑бијела тема на основу Кисеоникове палете
Description[sr@ijekavianlatin]=Crno‑bijela tema na osnovu Kiseonikove palete
Description[sr@latin]=Crno‑bela tema na osnovu Kiseonikove palete
Description[sv]=Ett tema med gråskala som använder Oxygens palett
Description[ug]=Oxygen رەڭ تاختىسى(palette) نى ئىشلەتكەن رەڭسىز ئۆرنەك
Description[uk]=Тема у тонах сірого кольору з використанням палітри Oxygen
Description[x-test]=xxA grayscale theme using the Oxygen palettexx
Description[zh_CN]=使用 Oxygen 调色板的灰度主题
Description[zh_TW]=使用 Oxygen 調色盤的灰階主題
VersionFormat=1
Author=Miha Čančula
AuthorEmail=miha.cancula@gmail.com
Type=SVG
FileName=gray.svgz
Preview=gray.png


