[KGameTheme]
Name=East and West
Name[da]=Øst og vest
Name[en_GB]=East and West
Name[et]=Ida ja lääs
Name[nds]=Oost un West
Name[nl]=Oost en West
Name[pt]=Este e Oeste
Name[pt_BR]=Leste e Oeste
Name[ru]=Восток и запад
Name[sv]=Öst och väst
Name[uk]=Схід і Захід
Name[x-test]=xxEast and Westxx
Name[zh_TW]=東與西
Description=A middle ages styled chess set
Description[da]=Et skakspil i middelalderlig stil
Description[en_GB]=A middle ages styled chess set
Description[et]=Keskaja stiilis malendid
Description[nds]=En middelöllerig utsehn Schachspeel
Description[nl]=Een schaakset in middeleeuwse stijl
Description[pt]=Um conjunto de xadrez com o estilo da Idade Média
Description[pt_BR]=Um conjunto de xadrez com o estilo da Idade Média
Description[ru]=Набор, стилизованный под Средневековье
Description[sv]=Ett schackspel med medeltidsstil
Description[uk]=Набір шахів у середньовічному стилі
Description[x-test]=xxA middle ages styled chess setxx
Description[zh_TW]=中古時期樣式的棋子
VersionFormat=1
Author=Eugene Trounev
Type=SVG
FileName=east_west.svgz
Preview=east_west.png


