[KGameTheme]
Name=East and West
Name[bg]=Изток и запад
Name[bs]=Istok i zapad
Name[ca]=Est i oest
Name[ca@valencia]=Est i oest
Name[cs]=Východ a západ
Name[da]=Øst og vest
Name[de]=Ost und West
Name[el]=Ανατολή και Δύση
Name[en_GB]=East and West
Name[es]=Este y Oeste
Name[et]=Ida ja lääs
Name[fi]=Itä ja länsi
Name[fr]=Est et ouest
Name[ga]=East and West
Name[gl]=Leste e Oeste
Name[hu]=Kelet és nyugat
Name[it]=Est e Ovest
Name[km]=ខាងកើត និង​ខាងលិច
Name[ml]=കിഴക്കും പടിഞ്ഞാറും
Name[ms]=Timur dan Barat
Name[nb]=Øst og vest
Name[nds]=Oost un West
Name[nl]=Oost en West
Name[nn]=Aust og vest
Name[pl]=Wschód i zachód
Name[pt]=Este e Oeste
Name[pt_BR]=Leste e Oeste
Name[ro]=Est și vest
Name[ru]=Восток и запад
Name[sk]=Východ a západ
Name[sl]=Vzhod in zahod
Name[sr]=Исток и запад
Name[sr@ijekavian]=Исток и запад
Name[sr@ijekavianlatin]=Istok i zapad
Name[sr@latin]=Istok i zapad
Name[sv]=Öst och väst
Name[ug]=شەرق ۋە غەرب
Name[uk]=Схід і Захід
Name[x-test]=xxEast and Westxx
Name[zh_CN]=东和西
Name[zh_TW]=東與西
Description=A middle ages styled chess set
Description[bg]=Средновековен изглед на шахматната дъска
Description[bs]=Tema u stilu srednjeg vijeka.
Description[ca]=Un conjunt d'escacs d'estil medieval
Description[ca@valencia]=Un conjunt d'escacs d'estil medieval
Description[cs]=Sada šachů ve středověkém stylu
Description[da]=Et skakspil i middelalderlig stil
Description[de]=Ein mittelalterliches Schach-Design.
Description[el]=Σκάκι σε μεσαιωνικό στιλ
Description[en_GB]=A middle ages styled chess set
Description[es]=Un juego de ajedrez de estilo medieval
Description[et]=Keskaja stiilis malendid
Description[fi]=Keskiaikaistyyppinen šakkiasetus
Description[fr]=Un jeu d'échec dans un style du moyen-age
Description[ga]=Foireann fichille i stíl na meánaoise
Description[gl]=Un xogo de xadrez estilo Idade Media
Description[hu]=Középkori stílusú sakkkészlet
Description[it]=Un gruppo di scacchi in stile Medioevo
Description[km]=កំណត់​អុក​ដែល​បាន​រចនា​អាយុ​​កណ្ដាល
Description[ml]=മധ്യ കാലഘട്ടത്തിന്റെ രീതിയിലുള്ള ചെസ്സ് സെറ്റ്
Description[ms]=Set catur gaya abad pertengahan
Description[nb]=Et sjakksett i middelalderstil
Description[nds]=En middelöllerig utsehn Schachspeel
Description[nl]=Een schaakset in middeleeuwse stijl
Description[nn]=Eit sjakksett i middelalderstil.
Description[pl]=Zestaw średniowiecznych szachów
Description[pt]=Um conjunto de xadrez com o estilo da Idade Média
Description[pt_BR]=Um conjunto de xadrez com o estilo da Idade Média
Description[ro]=Set de șah în stil medieval
Description[ru]=Набор, стилизованный под Средневековье
Description[sl]=Set za šah v slogu srednjega veka
Description[sr]=Тема у стилу средњег века.
Description[sr@ijekavian]=Тема у стилу средњег вијека.
Description[sr@ijekavianlatin]=Tema u stilu srednjeg vijeka.
Description[sr@latin]=Tema u stilu srednjeg veka.
Description[sv]=Ett schackspel med medeltidsstil
Description[ug]=ئوتتۇرا ئەسىر ئۇسلۇبىدىكى شاھمات تاختىسى
Description[uk]=Набір шахів у середньовічному стилі
Description[x-test]=xxA middle ages styled chess setxx
Description[zh_CN]=一个中世纪风格的棋盘
Description[zh_TW]=中古時期樣式的棋子
VersionFormat=1
Author=Eugene Trounev
Type=SVG
FileName=east_west.svgz
Preview=east_west.png


