[KGameTheme]
Name=Fantasy
Name[da]=Fantasy
Name[de]=Fantasie
Name[en_GB]=Fantasy
Name[es]=Fantasía
Name[fr]=Fantaisie
Name[pt]=Fantasia
Name[pt_BR]=Fantasia
Name[sv]=Fantasi
Name[uk]=Фантазія
Name[x-test]=xxFantasyxx
Description=Fantasy chess theme.
Description[da]=Fantasy skaktema.
Description[de]=Das fantasiebezogene Schachdesign.
Description[en_GB]=Fantasy chess theme.
Description[es]=Tema de ajedrez de fantasía.
Description[fr]=Thème d'échiquier fantaisie.
Description[pt]=Um tema de xadrez em fantasia.
Description[pt_BR]=Tema de xadrez fantasia
Description[sv]=Schacktemat Fantasi.
Description[uk]=Фантазійна тема шахів.
Description[x-test]=xxFantasy chess theme.xx
VersionFormat=1
Author=Maurizio Monge
AuthorEmail=maurizio.monge@gmail.com
Type=SVG
FileName=fantasy.svg
Preview=fantasy.png


