[KGameTheme]
Name=Grayscale
Description=A grayscale theme using the Oxygen palette
VersionFormat=1
Author=Miha Čančula
AuthorEmail=miha.cancula@gmail.com
Type=SVG
FileName=gray.svg
Preview=gray.png


