[KGameTheme]
Name=Plain
Name[bg]=Изчистен
Name[bs]=Jednostavna
Name[ca]=Normal
Name[ca@valencia]=Normal
Name[cs]=Prostý
Name[da]=Almindeligt
Name[de]=Einfach
Name[el]=Plain
Name[en_GB]=Plain
Name[es]=Sencillo
Name[et]=Tavaline
Name[fi]=Tavallinen
Name[fr]=Brut
Name[ga]=Simplí
Name[gl]=Simple
Name[hu]=Sima
Name[it]=Semplice
Name[km]=ធម្មតា
Name[ml]=സാധാരണ
Name[ms]=Kosong
Name[nb]=Enkelt
Name[nds]=Liekut
Name[nl]=Gewoon
Name[nn]=Enkelt
Name[pl]=Zwykły
Name[pt]=Simples
Name[pt_BR]=Simples
Name[ro]=Simplă
Name[ru]=Простое
Name[sl]=Preprosta
Name[sr]=Једноставна
Name[sr@ijekavian]=Једноставна
Name[sr@ijekavianlatin]=Jednostavna
Name[sr@latin]=Jednostavna
Name[sv]=Enkel
Name[tr]=Düz
Name[ug]=تەكشىلىك
Name[uk]=Звичайна
Name[x-test]=xxPlainxx
Name[zh_CN]=普通
Name[zh_TW]=普通
Description=A plain and simple theme
Description[bg]=Изчистен и прост изглед
Description[bs]=Čista i jednostavna tema
Description[ca]=Un tema normal i senzill
Description[ca@valencia]=Un tema normal i senzill
Description[cs]=Prostý a jednoduchý motiv
Description[da]=Et almindeligt simpelt tema
Description[de]=Ein einfaches Design für Knights.
Description[el]=Ένα καθαρό και απλό θέμα
Description[en_GB]=A plain and simple theme
Description[es]=Un tema sencillo
Description[et]=Lihtne teema
Description[fi]=Tavallinen ja yksinkertainen teema
Description[fr]=Un thème simple et brut.
Description[ga]=Téama simplí
Description[gl]=Un tema sinxelo e simple
Description[hu]=Egy sima és egyszerű téma
Description[it]=Un semplice tema
Description[km]=ស្បែក​សាមញ្ញ និង​ធម្មតា
Description[ml]=സാധാരണയും ലളിതവുമായ പ്രമേയം
Description[ms]=Tema ringkas
Description[nb]=Et rent og enkelt tema
Description[nds]=En liekut un eenfach Muster
Description[nl]=Een gewoon en eenvoudig thema
Description[nn]=Eit reint og enkelt tema.
Description[pl]=Zwykły i prosty motyw
Description[pt]=Um tema simples
Description[pt_BR]=Um tema simples
Description[ro]=O temă simplă și curată
Description[ru]=Простое оформление
Description[sl]=Preprosta tema
Description[sr]=Чиста и једноставна тема
Description[sr@ijekavian]=Чиста и једноставна тема
Description[sr@ijekavianlatin]=Čista i jednostavna tema
Description[sr@latin]=Čista i jednostavna tema
Description[sv]=Ett vanligt enkelt tema
Description[ug]=تەكشى ۋە ئاددىي ئۆرنەك
Description[uk]=Проста тема.
Description[x-test]=xxA plain and simple themexx
Description[zh_CN]=一个普通简单的主题
Description[zh_TW]=普通、簡單的主題
VersionFormat=1
Author=Colin M. L. Burnett
Type=SVG
FileName=plain.svgz
Preview=plain.png


