<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="knights" version="1">
  <ToolBar name="mainToolBar">
    <text>Main Toolbar</text>
    <Action name="game_new" />
    <Action name="game_pause" />
    <Action name="propose_draw" />
    <Action name="adjourn" />
    <Action name="resign" />
  </ToolBar>
  <MenuBar>
    <Menu name="game">
      <Action name="propose_draw" />
      <Action name="adjourn" />
      <Action name="resign" />
    </Menu>
    <Menu name="docks">
      <text>Show</text>
      <Action name="clock" />
      <Action name="chat" />
      <Action name="console" />
    </Menu>
  </MenuBar>
</kpartgui>
