[Desktop Entry]
Name=Knights
Name[cs]=Knights
Name[da]=Knights
Name[de]=Knights
Name[en_GB]=Knights
Name[et]=Knights
Name[hu]=Knights
Name[it]=Knights
Name[nds]=Knights (Schachspeel)
Name[nl]=Knights
Name[pt]=Knights
Name[pt_BR]=Knights
Name[ru]=Knights
Name[sv]=Knights
Name[uk]=Knights
Name[x-test]=xxKnightsxx
Name[zh_TW]=Knights
Exec=knights %i -caption "%c"
Icon=knights
Type=Application
X-DocPath=knights/index.html
Categories=Qt;KDE;Game;BoardGame;
GenericName=Chess game
GenericName[cs]=Šachy
GenericName[da]=Skakspil
GenericName[de]=Schachspiel
GenericName[en_GB]=Chess game
GenericName[et]=Male
GenericName[hu]=Sakkjáték
GenericName[it]=Gioco di scacchi
GenericName[nds]=Schachspeel
GenericName[nl]=Schaakspel
GenericName[pt]=Jogo de xadrez
GenericName[pt_BR]=Jogo de Xadrez
GenericName[ru]=Игра в шахматы
GenericName[sv]=Schackspel
GenericName[uk]=Гра у шахи
GenericName[x-test]=xxChess gamexx
GenericName[zh_TW]=西洋棋遊戲
Terminal=false
